@{
}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="~/favicon/apple-touch-icon.png">
    <link href="~/content/site/css/plugin.css" rel="stylesheet" />
    <link href="~/content/site/css/style.css" rel="stylesheet" />
    <link href="~/content/site/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/content/site/css/overwrite.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @*<div class="preloader">
            <div class="rounder"></div>
        </div>*@
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action(action: "index",controller:"home")">{وبلاگ شخصی حامد شیربندی}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="@Url.Action(action: "articles",controller:"blog")">بلاگ</a></li>
                    <li class=""><a href="@Url.Action(action: "categories",controller: "blog")">گروه ها</a></li>
                    <li class=""><a href="@Url.Action(action: "tags",controller:"blog")">تگ ها</a></li>
                </ul>
               @Html.Partial("_GetSearchForm")
              
            </div>
        </div>
    </nav>
    <div id="main">
        <div id="main-inner">
            <div class="row">
                <div class="col-md-3" id="about-fixed-con">
                    <div class="about-fixed">
                        <div class="my-pic">
                            <img src="~/Content/site/images/pic/my-pic-2.png" alt="وبلاگ شخصی حامد شیربندی" />
                        </div>
                        <div class="my-detail">
                            <div class="white-spacing">
                                <h1>حامد شیربندی</h1>
                                <span>توسعه دهنده نرم افزار</span>
                            </div>
                            <ul class="social-icon">
                                <li><a href="mailto:hamed.shirbandi@gmail.com" target="_blank" class=""><img src="~/Content/site/images/blog/Gmail-ic.png" /></a></li>
                                <li><a href="https://plus.google.com/+HamedShirbandi" target="_blank" class=""><img src="~/Content/site/images/blog/google-plus-ic.png" /></a></li>
                                <li><a href="https://www.nuget.org/profiles/hamed-shirbandi" target="_blank" class=""><img src="~/Content/site/images/blog/nuget_ic.png" /></a></li>
                                <li><a href="https://github.com/hamed-shirbandi" target="_blank" class=""><img src="~/Content/site/images/blog/github_ic.png" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-12 page-body">
                        @RenderBody()
                    </div>
                    <div class="col-md-12 page-body margin-top-50 footer">
                        <footer>
                            <ul class="menu-link">
                                <li>
                                    <a href="@Url.Action(action: "index", controller: "home", values: new { })">
                                        بلاگ
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action(action: "categories", controller: "blog", values: new { })">
                                        گروه ها
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action(action: "tags", controller: "blog", values: new { })">
                                        تگ ها
                                    </a>
                                </li>
                            </ul>
                            <p>وبلاگ  شخصی حامد شیربندی - توسعه دهنده نرم افزار</p>
                            <div class="uipasta-credit"> طراحی شده در <a href="http://www.uipasta.com" target="_blank">UiPasta</a> </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/scripts/site/plugin.js"></script>
    <script src="~/scripts/site/scripts.js"></script>
    <script src="~/scripts/site/app.js"></script>
    <script src="~/scripts/site/bootstrap-rtl.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>
