@model IEnumerable<PostOutput>

@{
    ViewBag.title = "آخرین مقالات " + @ViewBag.TaxonomyName;
}

<div class="row">
    <div class="sub-title">
        <h2 class="main-color">@ViewBag.title</h2>
    </div>

    <div class="col-md-12 content-page">
        <input type="hidden" id="search-taxonomyType" value="@ViewBag.TaxonomyType" />
        <input type="hidden" id="search-taxonomyId" value="@ViewBag.TaxonomyId" />
        <div id="show-more-post">
            @Html.Partial("_ArticlesList", Model)
        </div>

        @if (Model.Count() > 0)
        {
            <div class="col-md-12 text-center">
                <a href="javascript:void(0)" id="load-more-post" class="load-more-button main-color">بیشتر</a>
                <div id="post-end-message"></div>
            </div>
        }
    </div>

</div>


@section Scripts
{
    
}
